<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Petsfinder</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.static/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dash">Painel Administrativo</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

               <li class="dropdown">
                    
                    {% if message_size == 0 %}
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    {% else %}
                        <a href="#" 
                           class="dropdown-toggle" 
                           data-toggle="dropdown">
                           {{ message_size }} Nova(s) Mensagem's
                           <i class="fa fa-envelope"></i> 
                           <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu message-dropdown">
                         {% for val in pet_list %}
                          
		             <li class="message-preview">
		                 <a href="/message">
		                    <div class="media">
		                       <span class="pull-left">
		                            <img class="media-object" src="http://placehold.it/50x50" alt="">
		                        </span>
		                        <div class="media-body">
		                           <h5 class="media-heading"><strong>{{ name }}</strong> </h5>
		                           <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 5:32 PM</p>
		                           <p> {{ val.message }} </p>
		                                
		                         </div>
		                      </div>
		                    </a>
		                </li>
                       
                         {% endfor %}
                          <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                          </li>
                       </ul>

                    {% endif %}

                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="glyphicon glyphicon-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="/message"><i class="fa fa-fw fa-envelope"></i> Mensagem</a>
                        </li>
                        <li>
                            <a href="/config"><i class="fa fa-fw fa-gear"></i> Configuração</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dash"><i class="fa fa-desktop"></i> Inicio</a>
                    </li>

		    <li>
                        <a href="/profile"><i class="glyphicon glyphicon-user"></i> Perfil</a>
                    </li>

                    <li class="active">
                        <a href="charts.html"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar</a>
                    </li>

                    <li>
                        <a href="/config"><i class="glyphicon glyphicon-cog"></i> Configuração</a>
                    </li>
                   
   		    <li>
                        <a href="/message"><i class="fa fa-fw fa-envelope"></i> Mensagem</a>
                    </li>
                    
                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Adicionar um(a) amigo(a) perdido(a)
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="glyphicon glyphicon-plus-sign"></i> Adicionar
                            </li>
                        </ol>
                    </div>
                </div>

 	 <form method="POST" enctype="multipart/form-data" action="/upload">

		  <div class="col-lg-6">

		       <div class="thumbnail">
			      <img src="static/images/img_28.jpg" id="blah">
			      <div class="caption">
		
				     
				      <h3>Foto do(a) seu/sua amigo(a):</h3>
			 	      <input type="file" name="photo" id="imgInp"/>
				     
				      
			       
			      </div>
			    </div>
		     </div>
               	    
			 
		<div class="col-lg-6">
           	      
   		     <div class="row">
			  <div class="col-md-6">
				<label> Nome </label>
				<input class="form-control" name="name">	  
		          </div>
			  <div class="col-md-6">
 			        <label> Espécie </label>
		                <input class="form-control" name="kind">		
			  </div>
		     </div>
 
                     <div><p></p></div>

		     <div class="form-group">
		          <label> Endereco </label>
		          <input class="form-control" name="address">				                
		     </div>
	

		     <div><p></p></div>

		     <div class="row">
			  <div class="col-md-6">
				<label> Bairro </label>
				<input class="form-control" name="quarter">	  
		          </div>
			  <div class="col-md-6">
 			        <label> Cidade </label>
		                <input class="form-control" name="city">		
			  </div>
		     </div>

		     <div><p></p></div>

		     <div class="row">
			  <div class="col-md-4">
				<label> Estado </label>
		                <input class="form-control" name="state">
                          </div>
			  <div class="col-md-4">
				<label> Pais </label>
		                <input class="form-control" name="country">

                          </div>
                          <div class="col-md-4">
				<label> Cep </label>
		                <input class="form-control" name="zipcode">
                          </div>
	             </div>

		     <div><p></p></div>


		      <div class="row">
			  <div class="col-md-2">
			        <label> Status </label>
				<select name="status">
				  <option value="P">Perdido</option>
				  <option value="A">Adocao</option>
				</select>  
		          
			  </div>
			   <div><br></div>
                          
		     </div>

		     <div><p></p></div>

                      <div class="form-group" align="rigth">
				
 			    <button type="reset"  class="btn btn-default btn-sm">Cancelar</button>
                            <button type="submit" class="btn btn-primary btn-sm" style="width:145px">Enviar</button>
	              </div>

		    
	        </div>

           </form>
		     
                </div>
                <!-- /.row -->
		
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="static/js/plugins/morris/raphael.min.js"></script>
    <script src="static/js/plugins/morris/morris.min.js"></script>
    <script src="static/js/plugins/morris/morris-data.js"></script>

    <script>

	function readURL(input) {

	    if (input.files && input.files[0]) {
		var reader = new FileReader();

		reader.onload = function (e) {
		    $('#blah').attr('src', e.target.result);
		}

		reader.readAsDataURL(input.files[0]);
	    }
	}

	$("#imgInp").change(function(){
	    readURL(this);
	});

   </script>

</body>

</html>
