
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Petsfinder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Pets finder" />
	<meta name="keywords" content="Pets finder" />
	<meta name="author" content="PetsFinder" />

 
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- Salvattore -->
	<link rel="stylesheet" href="static/css/salvattore.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="exampleModalLabel">Me encontrou?</h4>
	      </div>
	      <div class="modal-body">
		<form action="/addMessage" method="POST">
			  
		          <div class="form-group" align="center">
			    <img src="" id="imageId" width="200" height="160">
			  </div>
			  
			  <div class="form-group">
			    <label for="message-text" class="control-label">Deixe um recado:</label>
                            <textarea class="form-control"  name="message" maxlength="100" ></textarea>
			    
			  </div>
	     
	       </div>
			  <div class="modal-footer" >
			     <button type="submit" 
				     class="btn btn-info" 
                                     style="margin-right: 215px;padding-right: 30px;padding-left: 30px;">
                                     Enviar
			     </button>
			  </div>
		</form>
	    </div>
	  </div>
	</div>
		
	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="/">Petsfinder</a></h1>
		<ul>
			<li class="active"><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
			<li><a href="/about">Sobre</a></li>
			<li><a href="/contact">Contato</a></li>
                        
			<li>
			   <div style="margin-top: 25px" >
			     <b>Pesquisar por:</b>
			   </div>
			</li>
			
			<form action="/find" method="POST">
			   <li>
			      <div style="margin-top: 7px">Cidade:</div>
			   </li>

		           <li><input type="text" name="city"></input></li>
			   <li>Espécie:</li>
		           <li><input type="text" name="kind"></input></li>

			   <li>	
			     <button type="submit" style="margin-top: 5px">Pesquisar</button>	
			   </li>
			</form>
		         	        
		</ul>
		<h3 class="fh5co-lead">Connect with us</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"   style="color:blue"></i></a>
			<a href="#"><i class="icon-facebook"  style="color:blue"></i></a>
			<a href="#"><i class="icon-instagram" style="color:brown"></i></a>
			
		</p>
	</div>
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" 
                                           class="fh5co-menu-btn js-fh5co-menu-btn" 
					   style="margin-top: 0px;">Menu 
						<i class="icon-menu"></i>
					</a>
					<div align="center" >
					    <img src="static/images/PetsFinder.png" width="200" height="160">	
					    <hr style="margin-top: 0px; margin-bottom: 0px; border-top: 2px solid #000;">
					</div>					
				</div>
			</div>
		</div>


		

	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="container">

			<div class="row">

        <div id="fh5co-board" data-columns>


		{% for value in images['resources'] %}

		    {% if filter_enabled %}
			
			{% if kind in value.tags %}
		
				<div class="item">
					<div class="animate-box">
						<a href="#">
						    <img src="{{ value.url }}" alt="Teste" onclick="changeIt(this.src)">
						</a>
					</div>
					<div class="fh5co-desc">
				

							{% set list = value.public_id.split('/') %}
							Nome: {{ list[0] }} </br>
							Especie: {{ list[1] }} </br>
						        Cidade: {{ list[2] }} </br>
						        Situacao: {% if list[3] == 'A' %}
								    {{ 'Adocao' }}
								  {% endif %}
								  {% if list[3] == 'P' %}
								    {{ 'Perdido' }}
								  {% endif %}
								  {% if list[3] == 'E' %}
								     {{ 'Encontrado' }}
								  {% endif %}
					      
					</div>
				</div>
	
			
			{% endif %}

		    {% else %}

				<div class="item">
					<div class="animate-box">
						<a href="#">
						  <img src="{{ value.url }}" alt="Teste" onclick="changeIt(this.src)">
						</a>
					</div>
					<div class="fh5co-desc">
				

							{% set list = value.public_id.split('/') %}
							Nome: {{ list[0] }} </br>
							Especie: {{ list[1] }} </br>
						        Cidade: {{ list[2] }} </br>
						        Situacao: {% if list[3] == 'A' %}
								    {{ 'Adocao' }}
								  {% endif %}
								  {% if list[3] == 'P' %}
								    {{ 'Perdido' }}
								  {% endif %}
								  {% if list[3] == 'E' %}
								     {{ 'Encontrado' }}
								  {% endif %}
					      
					</div>
			        </div>	

		   {% endif %}								
	        {% endfor %}
        	


        </div>
        </div>
       </div>
	</div>

	<footer id="fh5co-footer">
		 
		<div class="container">
                   
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter"   style="color:blue"></i></a>
			                        <a href="#"><i class="icon-facebook"  style="color:blue"></i></a>
						<a href="#"><i class="icon-instagram" style="color:brown"></i></a>
					</p>
					<p><small>&copy; Petsfinder. All Rights Reserved. <br>Designed by: <a href="http://petsfinder.herokuapp.com" target="_blank">Petsfinder</a> | Images by: <a href="http://pexels.com" target="_blank">Pexels</a> </small></p>
				</div>
			</div>
		</div>
	</footer>


	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<!-- Salvattore -->
	<script src="static/js/salvattore.min.js"></script>
	<!-- Main JS -->
	<script src="static/js/main.js"></script>
        <!-- Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-100490466-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>
	function changeIt(_src){
	    //alert(_src);
            var img = _src;
            document.getElementById("imageId").src=img;
	    $('#messageModal').modal('show');
	}
        </script>
	
	</body>
</html>
