<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Petsfinder</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.static/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dash">Painel Administrativo</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{ name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{ name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{ name }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="glyphicon glyphicon-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="/message"><i class="fa fa-fw fa-envelope"></i> Mensagem</a>
                        </li>
                        <li>
                            <a href="/config"><i class="fa fa-fw fa-gear"></i> Configuração</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dash"><i class="fa fa-desktop"></i> Inicio</a>
                    </li>

		    <li class="active">
                        <a href="/profile"><i class="glyphicon glyphicon-user"></i> Perfil</a>
                    </li>

                    <li>
                        <a href="/add"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar</a>
                    </li>

                    <li>
                        <a href="/config"><i class="glyphicon glyphicon-cog"></i> Configuração</a>
                    </li>
                   
   		    <li>
                        <a href="/message"><i class="fa fa-fw fa-envelope"></i> Mensagem</a>
                    </li>
                    
                
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

	   <div class="container-fluid">

		
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Perfil 
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="glyphicon glyphicon-user"></i> Perfil
                            </li>
                        </ol>
                    </div>
                </div>
               	    
			 <form role="form" method="POST" action="/updateUser">

				 <div class="col-lg-6">
					    <label> Nome </label>
				            <div class="input-group">
						
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." id="cb1">
						</span>
				                
				                <input class="form-control" value="{{ user.first_name }}" name="first_name" id="n1" disabled> 
				                
				            </div>

					    <br/>

 					    <label>E-Mail</label>
					    <div class="input-group">
				               
						 <span class="input-group-addon">
							<input type="checkbox" aria-label="..." id="cb2">
						</span>
				                <input class="form-control" value="{{ user.email }}" name="email" id="e1" disabled>    
				                
				            </div>

                                            <br/>

                                            <label>Senha</label>
					    <div class="input-group">

				                <span class="input-group-addon">
							<input type="checkbox" aria-label="..." id="cb3">
						</span>
				                <input class="form-control" id="s1" name="password" disabled>
				                
				            </div>


                                            <br/>

                                            <label>Celular</label>
					    <div class="input-group">
				                
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." id="cbx">
						</span>
				                <input class="form-control" id="c1" disabled>
				                
				            </div>

					    <div class="input-group">
				                </br>
						<button type="submit" class="btn btn-primary btn-lg" style="width:145px">Alterar</button>
                                                <button type="reset"  class="btn btn-default btn-lg">Cancelar</button>
                                                </br></br>
				            </div>
					    
					    
					     <div class="modal fade" tabindex="-1" role="dialog" id="mod01">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
							<button type="button" 
								class="close" 
								data-dismiss="modal" 
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Aten&ccedil;&atilde;o</h4>
						      </div>
						      <div class="modal-body">
							<p>Lembre-se que seu E-mail &eacute; seu login de acesso</p>
						      </div>
						      <div class="modal-footer">
							<button onclick="cancel()"
							        type="button" 
								class="btn btn-default" 
								data-dismiss="modal">Cancelar
							</button>
							<button onclick="confirm()" type="button" class="btn btn-primary">Alterar</button>
						      </div>
						    </div><!-- /.modal-content -->
						  </div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
					  
				            </div>

					   


				  <div class="col-lg-6">

				            <div class="input-group">
				               <label> Sobrenome </label>
				               <input class="form-control" 
						      value="{{ user.last_name }}" 
						      name="last_name" 
						      size="100"
						      id="n2"
						      disabled >     
				            </div>
					    
					    <br/>

					    <div class="input-group">
                                            	<label for="disabledSelect">Corfirme seu e-mail</label>
                                    		<input class="form-control" 
						       type="text" 
						       placeholder="Confirme seu e-mail" 
						       size="100" 
						       id="e2"
						       disabled >
                                	    </div>

					    <br/>

					    <div class="input-group">
                                            	<label for="disabledSelect">Corfirme sua senha</label>
                                    		<input class="form-control" 
						       type="text" 
						       placeholder="Corfirme sua senha" 
						       size="100" id="s2" 
						       disabled>
                                	    </div>
					    
				  </div>

			</form>
		     
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	                  <div class="modal fade" tabindex="-1" role="dialog" id="mod02">
				<div class="modal-dialog" role="document">


					<div class="modal-content">
					     <div class="modal-header">
						 <button type="button" 
								class="close" 
								data-dismiss="modal" 
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Aten&ccedil;&atilde;o</h4>
						      </div>
						      <div class="modal-body">
							<p>Deseja realmente alterar sua senha de acesso?</p>
						      </div>
						      <div class="modal-footer">
							<button onclick="cancelEmailBt()" 
								type="button" 
								class="btn btn-default" 
								data-dismiss="modal">Cancelar
							</button>
							<button onclick="confirmEmailBt()" 
								type="button" 
								class="btn btn-primary">Alterar
							</button>	
						 </div>
				              </div><!-- /.modal-content -->
				        </div><!-- /.modal-dialog -->
						    
				</div><!-- /.modal -->
					  
		          </div>
                             

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="static/js/plugins/morris/raphael.min.js"></script>
    <script src="static/js/plugins/morris/morris.min.js"></script>
    <script src="static/js/plugins/morris/morris-data.js"></script>

    <script>
	function confirm() {
    		$("#e1").prop('disabled', false);
		$("#e2").prop('disabled', false);
		$("#cb2").prop("checked", true);
		$('#mod01').modal('hide');
	}

	function cancel() {
    		$("#e1").prop('disabled', true);
		$("#e2").prop('disabled', true);
		$("#cb2").prop("checked", false);
		$('#mod01').modal('hide');
	}

	function confirmEmailBt() {
    		$("#s1").prop('disabled', false);
		$("#s2").prop('disabled', false);
		$("#cb3").prop("checked", true);
		$('#mod02').modal('hide');
	}

	function cancelEmailBt() {
    		$("#s1").prop('disabled', true );
                $("#s2").prop('disabled', true );
		$("#cb3").prop("checked", false);
		$('#mod02').modal('hide');
	}

	$("#cb1").change(function() {
    		if(this.checked) {
        		$("#n1").prop('disabled', false);
			$("#n2").prop('disabled', false);
    		}else{
			$("#n1").prop('disabled', true );
                        $("#n2").prop('disabled', true );
		}
	});

	 $("#cb2").change(function() {
    		if(this.checked) {
                        $('#mod01').modal('show')  
			$("#cb2").prop("checked", false);
    		}else{
			$("#e1").prop('disabled', true );
                        $("#e2").prop('disabled', true );
		}
	});

	$("#cb3").change(function() {
    		if(this.checked) {
        		$('#mod02').modal('show')  
			$("#cb3").prop("checked", false);
    		}else{
			$("#s1").prop('disabled', true );
                        $("#s2").prop('disabled', true );
		}
	});

	$("#cbx").change(function() {
    		if(this.checked) {
        		$("#c1").prop('disabled', false);			
    		}else{
			$("#c1").prop('disabled', true );
		}
	});
    </script>

</body>

</html>
